.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 150px;
  left: 50%;
  margin-left: -150px;
  height: 100px;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  border: 3px solid #5a6cbf;
  z-index: 20;
}

#popup:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

#popup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

/* Styling buttons & webpage */

body {
  background: offwhite;
  font-family: Arial, sans-serif;
  text-align: center;
  background: #5a6cbf;
  color: #5a6cbf;
}

.tab {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  color: #5a6cbf;
  border: 3px solid white;
}

.tab:hover {
  background-color: #ddd;
}

p {
	margin: 1em 0;
  font-size: 16px;
}


.popupk {
  display: none;
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: 180px;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  border: 3px solid #F04A49;
  z-index: 20;
}

#popupk:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

#popupk:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

 /* Chat containers */
 .container {
  border: 2px solid #edc7df;
  background-color: #ffe6f6;
  border-radius: 15px 15px 15px 0px;
  margin: auto;
  margin-bottom:2px;
  width: 800px;
  height: auto;
}

/* Darker chat container */
.darker {
  border-color: #9ec1e6;
  background-color: #cfdeff;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #5a6cbf;
  font-weight: bold;
  margin:10px;
} 

/* Styling buttons & webpage */

body {
  background: offwhite;
  font-family: Arial, sans-serif;
  text-align: center;
}

p {
	margin: 1em 0;
  font-size: 16px;
}

/*Inputs styling */
.inputs {
    width: 325px;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 2px solid #5a6cbf;
    background: white;
    color: #5a6cbf;
}

::placeholder {
    color: #5a6cbf;
    padding:5px;
}

#send-message{
    height:30px;
    width: auto;
    padding: 0px 10px;
    border:2px solid #5a6cbf;
    margin-top:15px;
    color: #5a6cbf;
    background: white;
    border-radius: 5px;
}

#send-message:hover {
background:#5a6cbf;
color:white;
}

.chatroom {
    background:white;
    border-radius: 25px;
    margin: auto;
    margin-top: 10px;
    padding: 25px;
    width: 900px;
}
